/* main {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent),
      url(/assets/img/recovery/recovery.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  } */

.navbar {
  position: static;
}

.contact-bg {
  background: url(/assets/img/contact/contact.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;

  height: 100%;
}
