* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* :root {
  --primary-color: #fdebd2;
  --search-color: #ffffff;
  --main-color: #000000;
  --header-height: 50px;
} */

html {
  scroll-behavior: smooth;
}

main {
  margin-top: var(--header-height);
  background: radial-gradient(at 0% 0%, rgb(255, 255, 255) 0px, transparent 50%),
    radial-gradient(at 13% 36%, rgb(255, 255, 255) 0px, transparent 50%),
    radial-gradient(at 56% 86%, rgb(255, 255, 255) 0px, transparent 50%),
    radial-gradient(at 69% 44%, rgb(255, 255, 255) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(204, 100%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 95% 5%, hsla(302, 81%, 90%, 1) 0px, transparent 50%);
}

h1 {
  /* font-family: "Anybody", cursive; */
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

h6 {
  /* font-family: "Anybody", cursive; */
  font-weight: 600;
  margin: 0;
}

a {
  /* font-family: "Space Grotesk", sans-serif; */
  font-weight: 400;
}

button,
.btn {
  outline: none;
  /* font-family: "Kanit", sans-serif !important; */
  font-weight: 400;
  font-size: 1rem;
  transition: 0.25s !important;
}

button:hover,
.btn:hover {
  transform: scale(0.95);
}

button:focus,
.btn:focus {
  box-shadow: none !important;
}

input {
  /* font-family: "Space Grotesk", sans-serif; */
  font-size: 16px;
  font-weight: 400;
}

/* .header-container {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px;
  z-index: 100;
}

header .navbar {
  padding: 0;
}

.header-logo {
  height: 60px;
  padding: 4px 12px;
}
.container-fluid {
  background-color: var(--search-color);
}

header .navbar-toggler {
  border: none;
  outline: none;
}

header .navbar-toggler:focus {
  box-shadow: none;
}

.header-cart-btn {
  height: 60px;
  width: 54px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  font-size: 24px;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
}

header .header-cart-btn {
  position: absolute;
  right: 16px;
}

header .navbar form {
  margin: 16px 0;
  padding: 0 12px;
  display: flex;
}

header .navbar .form-search {
  background: white;
  position: absolute;
  right: 76px;
  top: var(--header-height + 10px);
  margin-top: 12px;
  height: 60px;
  padding: 12px;
}

header .search-btn {
  background-color: var(--search-color) !important;
  position: relative;
  color: black !important;
  width: 30px;
  font-size: 25px;
  top: -6px;
}

header .nav-item {
  text-decoration: none;
}

header .navbar-nav .nav-item {
  padding: 4px 24px 12px;
  height: 48px;
  font-size: 18px;
  color: black;
}

header .nav-item .nav-link {
  text-transform: uppercase;
    font-family: "Kanit", sans-serif; 
  color: var(--main-color);
} */

/* header .nav-item:hover .nav-link {
  border-bottom: 1px solid #16070f;
  color: calc(0.7);
}
*/

/* main */

.main-container {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  padding: 50px;
}

.row {
  position: relative;
}

.container-body {
  padding-left: 70px;
  padding-top: 100px;
}

h2 {
  /* font-family: "Anybody", cursive; */
  font-style: italic;
  font-size: 3rem;
  font-weight: bold;
  color: #00396b;
  margin: 0;
}

p {
  /* font-family: "Space Grotesk", sans-serif; */
  font-weight: 400;
  font-size: 1.4rem;
  margin: 0;
}

.main-img {
  max-width: 150%;
  height: auto;
}

h3 {
  /* font-family: "Anybody", cursive; */
  font-weight: 700;
  margin: 0;
  padding: 50px;
}

.main-icon {
  font-size: 4rem;
  position: relative;
  padding-left: 50px;
  left: 100px;
  color: rgb(45, 10, 241);
}

.container .col h5 {
  /* font-family: "Space Grotesk", sans-serif; */
  font-weight: bold;
  margin: 0;
  position: relative;
  text-align: center;
  line-height: 2.5;
}

.container .col {
  padding-bottom: 100px;
}

.container .col p {
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
  line-height: 2.5;
  position: relative;
  text-align: center;
}

.btn-primary {
  position: relative;
  left: 130px;
  background-color: #ec9108;
}

.container-end-body h3 {
  /* font-family: "Space Grotesk", sans-serif; */
  font-weight: bold;
  text-transform: uppercase;
  padding: 50px 0 0 0;
}

h4 {
  /* font-family: "Space Grotesk", sans-serif; */
  font-weight: 400;
  margin: 0;
  padding: 30px 0 0 0;
}

.container-end-body .btn-primary {
  position: relative;
  top: 70px;
  text-transform: uppercase;
}

.card-img-top {
  max-height: 275px;
}

/* footer */

/* 
footer .footer-top{
    background-color: #f9f9f9;
    color: var(--main-color);
    padding: 30px 0;
    font-family: Arial, sans-serif;
}

.footer-top {
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 

.block {
    margin-bottom: 20px;
}

.contact-block h4,
.menu h4,
.newsletter h4,
.search h4 {
    color: var(--main-color);
    font-weight: bold;
}

.contact-info {
    color: var(--main-color);
}

.contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socials {
    list-style: none;
    padding: 0;
}

.socials .social {
    display: inline-block;
    margin-right: 10px;
}

.socials .social a {   
    color: var(--main-color);
    text-decoration: none;
    font-size: 20px;
}

.call-action a {
    color: var(--main-color);
    text-decoration: none;
}

.footer-copy-right {
    background-color: var(--search-color);
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
}

.copy-right {
    color: var(--main-color);
}

.menu {
    list-style-type: none;
    padding: 2px;
}

.menu-item a,
copy-right a {
    color: var(--main-color);
    text-decoration: none;
}

.icon {
    margin-right: 5px;
} */

.footer-dark {
  padding: 20px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  /* font-family: "Space Grotesk", sans-serif; */
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark p {
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 0;
  padding-left: calc(50px);
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

/* @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align: center;
      padding-bottom: 20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom: 36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom: 0;
    }
  }
  
  .footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
  }
  
  .footer-dark .item.social {
    text-align: center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align: center;
      margin-top: 20px;
    }
  } */
.footer-dark .item.social {
  text-align: center;
  margin-top: 20px;
  padding: 0;
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 16px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}
