.navbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 1000;
    font-family: "Poppins Regular", sans-serif;
}

.navbar-brand img {
    height: 32px;
}

.navbar-brand {
    font-family: "Poppins ExtraBold", sans-serif;
}

.nav-link:hover {
    background-color: #0d6efd;
}