@font-face {
  font-family: "Poppins Regular";
  src: url("../assets/font/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins ExtraBold";
  src: url("../assets/font/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Navbar */

nav {
  transition: all 0.25s ease-in-out;
}

nav.sticky {
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

nav li a:hover,
nav li i:hover {
  color: white !important;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 1000;
  font-family: "Poppins Regular", sans-serif;
}

.navbar-brand img {
  height: 32px;
}

.navbar-brand {
  font-family: "Poppins ExtraBold", sans-serif;
}

.nav-link:hover {
  background-color: #0d6efd;
}

.dropdown-menu form {
  min-width: 400px;
}
/* Navbar */

/* footer */

footer {
  background-color: #282d32;
  color: white;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer ul li a,
footer .social-media a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

footer ul li a:hover,
footer .social-media a:hover {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

/* footer */

body {
  font-family: "Poppins Regular", sans-serif;
}

h1 {
  font-family: "Poppins ExtraBold", sans-serif;
}
