@font-face {
  font-family: "Poppins Regular";
  src: url("/assets/font/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins ExtraBold";
  src: url("/assets/font/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

nav {
  transition: all 0.25s ease-in-out;
}

nav.sticky {
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

nav a:hover {
  color: white !important;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 1000;
  font-family: "Poppins Regular", sans-serif;
}

.navbar-brand img {
  height: 32px;
}

.navbar-brand {
  font-family: "Poppins ExtraBold", sans-serif;
}

.nav-link:hover {
  background-color: #0d6efd;
}

.dropdown-menu form {
  min-width: 400px;
}

/* footer */

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 16px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

body {
  font-family: "Poppins Regular", sans-serif;
}

h1 {
  font-family: "Poppins ExtraBold", sans-serif;
}
